In [ ]:
import openpyxl as op
import shutil
import os
from datetime import datetime
from openpyxl import Workbook
from pandas import ExcelWriter
import glob
pd.set_option('display.max_columns', None)

In [ ]:
# FB
path = r'D:\90'
all_files = sorted(glob.glob(path + "/*.xlsx"),
                      reverse=False)   

#heads = pd.read_excel(
   # r"Z:\8-Отдел анализа данных\001 - Сотрудники\05 - Чурахин А.А\ЕНС\№5. Проверка целостности данных в рамках ОКНО\FB\KBK FB.xlsx",
                     #sep=';', 
    #encoding='cp1251',
   # dtype=str)

In [ ]:
li = []
for filename in all_files:
    try:
        df = pd.read_excel(filename, 
                     #sep=';', 
                     index_col=None, 
                     header=0,
                     dtype=str, names=['inn', 'OKTMO', 'kbk', 'name_kbk', 'TAX_ID','T6',
                                      'T7','T9', 'TKR_TYPE1','TYPE2','TYPE5','TYPE6','TYPE7']
                    )
        li.append(df)
    except:
        df = pd.read_excel(filename, 
                     #sep=';', 
                     index_col=None, 
                     header=0, names=['inn', 'OKTMO', 'kbk', 'name_kbk', 'TAX_ID','T6',
                                      'T7','T9', 'TKR_TYPE1','TYPE2','TYPE5','TYPE6','TYPE7'],
                     dtype=str, #engine="python", on_bad_lines="skip",encoding_errors='ignore',    
                     encoding='cp1251'
                    )
        li.append(df)

In [ ]:
general = pd.concat([li[0], li[1]])
for i in range(2, len(li)):
    general = pd.concat([general, li[i]])

In [ ]:
general.head(5)

In [ ]:
#general.loc[general['€ЌЌ'].isnull()]

In [ ]:
general.info()

In [ ]:
general['OKTMO'].value_counts()

In [ ]:
general['ct_kbk'] = general['kbk'].str.slice(0,8)

In [ ]:
general.info()

In [ ]:
general['ct_kbk']

In [ ]:
itog = general.query('ct_kbk != "18210101"')[['inn']]

In [ ]:
itog.info()

In [ ]:
itog_1 = itog.iloc[:500000]
itog_2 = itog.iloc[500000:1000000]
itog_3 = itog.iloc[1000000:1500000]
itog_4 = itog.iloc[1500000:2000000]
itog_5 = itog.iloc[2000000:2500000]
itog_6 = itog.iloc[2500000:3000000]
itog_7 = itog.iloc[3000000:3500000]
itog_8 = itog.iloc[3500000:4000000]
itog_9 = itog.iloc[4000000:4500000]
itog_10 = itog.iloc[4500000:]

In [ ]:
itog_5.info()

In [ ]:
itog_1.to_excel(r'D:\разбивка инн по 1 млн\itog_1.xlsx', 
                 index=False)
itog_2.to_excel(r'D:\разбивка инн по 1 млн\itog_2.xlsx', 
                 index=False)
itog_3.to_excel(r'D:\разбивка инн по 1 млн\itog_3.xlsx', 
                 index=False)
itog_4.to_excel(r'D:\разбивка инн по 1 млн\itog_4.xlsx', 
                 index=False)
itog_5.to_excel(r'D:\разбивка инн по 1 млн\itog_5.xlsx', 
                 index=False)
itog_6.to_excel(r'D:\разбивка инн по 1 млн\itog_6.xlsx', 
                 index=False)
itog_7.to_excel(r'D:\разбивка инн по 1 млн\itog_7.xlsx', 
                 index=False)
itog_8.to_excel(r'D:\разбивка инн по 1 млн\itog_8.xlsx', 
                 index=False)
itog_9.to_excel(r'D:\разбивка инн по 1 млн\itog_9.xlsx', 
                 index=False)
itog_10.to_excel(r'D:\разбивка инн по 1 млн\itog_10.xlsx', 
                 index=False)

In [ ]:
# FB
path2 = r'D:\90 инн - тно'
all_files2 = sorted(glob.glob(path2 + "/*.csv"),
                      reverse=False)

In [ ]:
all_files2

In [ ]:
li2 = []
for filename in all_files2:
    try:
        df = pd.read_csv(filename, 
                     sep=';', 
                     index_col=None, 
                     header=0,
                     dtype=str, encoding_errors='ignore',                      
                   engine="python", on_bad_lines="skip",
                     #encoding='cp1251'
                    )
        li2.append(df)
    except:
        df = pd.read_csv(filename, 
                     sep=';', 
                     index_col=None, 
                     header=0,
                     dtype=str, encoding_errors='ignore',                      
                   engine="python", on_bad_lines="skip",
                     encoding='cp1251'
                    )
        li2.append(df)

In [ ]:
for i in range(len(li2)):
    print('Таблица номер - ', i)
    li2[i].info()
    display(li2[i].head(3))
    print('Закончена - ', i)
    print('-----------------------')

In [ ]:
li2[0].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[1].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[2].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[3].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[4].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[5].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[6].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[7].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[8].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)
li2[9].rename(columns = {'i?"INN"' : 'inn',
                      }, inplace = True)

In [ ]:
general_tno = pd.concat([li2[0], li2[1]])
for i in range(2, len(li2)):
    general_tno = pd.concat([general_tno, li2[i]])

In [ ]:
general_tno = general_tno.drop_duplicates()

In [ ]:
general_tno

In [ ]:
general_all = pd.merge(general,
                   general_tno, 
                   how='left', 
                   left_on = ['inn'],
                   right_on = ['inn'])
#general.drop(columns=['FID'], inplace=True)

In [ ]:
general_all.head()

In [ ]:
general_all = general_all.query('ct_kbk != "18210101"')[['inn', 'NO_MRI_CODE', 'OKTMO', 'kbk', 'name_kbk', 'TAX_ID', 'T6', 'T7', 'TKR_TYPE1']]

In [ ]:
general_all.head(5)

In [ ]:
def floating2(dt, col):
    dt[col] = dt[col].replace(',', '.', regex=True).astype(float)
    pd.options.display.float_format = '{:.2f}'.format


for i in ['T6', 'T7', 'TKR_TYPE1']:
    floating2(general_all, i)

In [ ]:
general_all.info()

In [ ]:
# создание списка Код субъекта РФ, если ошибка необходимо указать в кавычках имя столбца с Код субъекта РФ
data_22 = general_all['OKTMO'].unique().tolist()
#data_table = data_table.drop(['Unnamed: 16'], axis = 1)

In [ ]:
data_22 = sorted(data_22)

In [ ]:
general_all = general_all.sort_values(by='OKTMO')

In [ ]:
for i in data_22:
    #пункт 1
    data_tables = general_all.query('OKTMO == @i') 
    
    #data_tables.drop(columns=['region'], inplace=True)
    
    shutil.copy(r'Z:\8-Отдел анализа данных\001 - Сотрудники\05 - Чурахин А.А\Разбивка по регионам Python\Шапка 90 регионов.xlsx', 
                        i+'.xlsx')
    wb = op.load_workbook(i+'.xlsx')
    ws = wb.active
    #display(data_tables)
    for l in range (len(data_tables)):
        #display(data_tables)        
        ws.append(data_tables.iloc[l].tolist())
        
        
    wb.save(r'D:\90+тно\\'+i+'.xlsx')